.header {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;  
    background-color: #FFC72C;
    color: #1D428A;
    margin: 0;
    padding: 0;
}

.body {
    margin: 0;
}

.menu h1 {
    font-family: "Copperplate", "Copperplate Gothic Light", serif;
}

.subtitle {
    font-family: "Copperplate", "Copperplate Gothic Light", serif;
    font-weight: 500;
    margin-top: -10px;
}
